<div class="relative flex w-56 max-w-56 flex-col gap-3 rounded-2xl bg-white p-4 drop-shadow">


    <div hidden="@menuHidden" class="font-ubuntu-sans-l absolute top-10 right-3 w-30 gap-1 rounded-xl bg-gray-100 p-2 text-sm drop-shadow">
        <div @onclick="edit" class="flex cursor-pointer flex-row items-center rounded-md hover:bg-gray-50">
            <svg class="scale-75" width="27" height="24" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.8887 3.95764H2C1.44771 3.95764 1 4.40536 1 4.95764V21.2221C1 21.7744 1.44772 22.2221 2 22.2221H18.1954C18.7477 22.2221 19.1954 21.7744 19.1954 21.2221V15.8123M20.5738 1.40757L9.17835 12.803C9.01512 12.9663 8.91339 13.1809 8.89042 13.4106L8.56546 16.6602C8.50247 17.2901 9.0332 17.8193 9.6629 17.7545L12.7767 17.4339C13.0054 17.4104 13.2189 17.3088 13.3815 17.1463L25.0882 5.4395C25.4385 5.1344 25.7249 4.11003 24.0682 2.45336C21.9974 0.382518 20.9657 1.01573 20.5738 1.40757Z" stroke="black" stroke-width="2" stroke-linecap="round" />
            </svg>
            <p>Edit</p>
        </div>
        <div @onclick="delete" class="flex cursor-pointer flex-row items-center rounded-md hover:bg-gray-50">
            <svg class="scale-75" width="24" height="27" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.75041 6.21907C2.90822 9.66751 3.29147 17.6057 3.56193 21.7709C3.77167 25.0009 7.16817 25.9632 8.97129 25.9632C10.7744 25.9632 14.7728 25.9632 16.3416 25.9632C18.3025 25.9632 19.8576 23.9347 19.9929 21.7709C20.1011 20.04 20.3986 10.6818 20.5338 6.21907M2.75041 6.21907H7.40067M2.75041 6.21907H1M20.5338 6.21907H16.0184M20.5338 6.21907H22.2069M7.40067 6.21907C7.40067 5.47194 7.40067 3.78086 7.40067 2.99355C7.40067 2.00941 8.58669 1 11.4382 1C14.2897 1 16.0184 1.78909 16.0184 2.75718C16.0184 3.53165 16.0184 5.3878 16.0184 6.21907M7.40067 6.21907H16.0184" stroke="black" stroke-width="2" stroke-linecap="round" />
                <line x1="8.69629" y1="11.0005" x2="8.69629" y2="21.2825" stroke="black" stroke-width="2" stroke-linecap="round" />
                <line x1="14.5283" y1="11.0005" x2="14.5283" y2="21.2825" stroke="black" stroke-width="2" stroke-linecap="round" />
            </svg>
            <p>Delete</p>
        </div>

    </div>


    <div class="flex flex-row items-center justify-between">
        <h5 class="font-monserrat-m text-22 m-0">Collection Name @Id</h5>

        <div @onclick="ToogleMenu" class="scale-90 cursor-pointer">
            @{
                if(menuHidden)
                {
                    <svg width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1H16.9346" stroke="black" stroke-width="2" stroke-linecap="round" />
                        <path d="M1 6.44415H16.9346" stroke="black" stroke-width="2" stroke-linecap="round" />
                        <path d="M1 11.8883H16.9346" stroke="black" stroke-width="2" stroke-linecap="round" />
                    </svg>
                }
                else
                {
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.00366 1L12.2711 12.2674" stroke="black" stroke-width="2" stroke-linecap="round" />
                        <path d="M1 12.2676L12.2674 1.00014" stroke="black" stroke-width="2" stroke-linecap="round" />
                    </svg>

                }
            }
            

        </div>
    </div>

    <div class="flex flex-col text-[14px]">
        <p class="font-ubuntu-sans-l m-0">Start date: 07.12.2025</p>
        <p class="font-ubuntu-sans-l m-0">End date: 07.12.2025</p>
    </div>

    <div class="flex flex-row items-end justify-between">
        <div class="flex flex-row">
            <svg class="scale-80" width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.392334" y="5.60999" width="13.7759" height="20.2207" rx="2" transform="rotate(-22.2568 0.392334 5.60999)" stroke="#0D1117" stroke-width="2" stroke-linejoin="round" />
                <path d="M16.7053 1.2644H18.6345C19.1868 1.2644 19.6345 1.71212 19.6345 2.2644V7.54127M23.1682 3.58917L24.8676 4.42338C25.3475 4.659 25.5572 5.23049 25.3436 5.72064L21.7734 13.9111" stroke="#0D1117" stroke-width="2" stroke-linecap="round" />
            </svg>
            <p class="font-ubuntu-sans-l m-0">18</p>
        </div>
        <NavLink href="@($"/collections/{Id}")">
            <div class="primary-blue-bg full flex size-10 cursor-pointer items-center justify-center rounded-full">
                <svg class="scale-80" width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.5482 8.23899L1.55822 0.172003C0.893959 -0.274922 0 0.201075 0 1.00169V17.1357C0 17.9363 0.89396 18.4123 1.55822 17.9654L13.5482 9.89837C14.1373 9.50206 14.1373 8.6353 13.5482 8.23899Z" fill="#F0F2F6" />
                </svg>

            </div>
        </NavLink>

    </div>
    
</div>

@code {
    [Parameter]
    public int Id { get; set; } = 0;

    private bool menuHidden = true;

    private void ToogleMenu()
    {
        menuHidden = !menuHidden;
    }

    private void delete()
    {

    }

    private void edit()
    {
        
    }
}
