@page "/"
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<SearchHeader></SearchHeader>

<main class="mt-8 flex flex-col items-center gap-6">
    <h2 class="font-monserrat-b text-[32px]">Welcome, User</h2>
    <div></div>
    <div class="grid grid-cols-26 grid-rows-7 gap-0.75">
        @for(int i = 0; i < 182; i++)
        {
            <div class="size-4 rounded-sm bg-black"></div>
        }
    </div>
    @{
        if(visible != null)
        {
            <div class="mt-14 flex flex-col gap-4">
                <div class="mx-20 flex flex-row justify-between">
                    <h4 class="font-monserrat-b m-0 text-2xl">Collections</h4>
                    <NavLink href="/collections">
                        <p class="font-ubuntu-sans-l m-0 cursor-pointer">See all</p>
                    </NavLink>
            
                </div>
                <div class="flex flex-row items-center gap-6">
                    <button disabled="@(LeftButtonDisabled())" @onclick="GoPrev" class="cursor-pointer disabled:cursor-not-allowed">
                        <svg width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="1" y="1" width="48.78" height="48.7769" rx="24.3884" stroke="#CBCBCB" stroke-width="2" />
                            <path d="M30.4276 15.2207L18.3524 25.3884L30.4276 35.5562" stroke="#CBCBCB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>


                    <div class="flex flex-row gap-6">
                        @{
                            foreach (var col in visible!)
                            {
                                <CollectionCard Id="col.Id"></CollectionCard>
                            }
                        }
                    </div>

                    <button disabled="@(RightButtonDisabled())" @onclick="GoNext" class="rotate-180 cursor-pointer disabled:cursor-not-allowed">
                        <svg width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="1" y="1" width="48.78" height="48.7769" rx="24.3884" stroke="#CBCBCB" stroke-width="2" />
                            <path d="M30.4276 15.2207L18.3524 25.3884L30.4276 35.5562" stroke="#CBCBCB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                </div>
            </div>
        }
    }
    
    
</main>
@code {

    private Collection[]? collections;
    private List<Collection>? collectionsList;
    private List<Collection>? visible;
    private int skip = 0;

    protected override async Task OnInitializedAsync()
    {
        collections = await Http.GetFromJsonAsync<Collection[]>("sample-data/Collections.json");
        if(collections != null)
        {
            collectionsList = collections.ToList();
            visible = collectionsList.Skip(0).Take(4).ToList();
            Console.WriteLine(skip);
        }

    }

    private void GoPrev()
    {
        if(skip > 0)
        {
            skip--;
            visible = collectionsList.Skip(skip * 4).Take(4).ToList();
        }

        Console.WriteLine(skip);
    }

    private void GoNext()
    {
        if((skip+1)*4 < collectionsList.Count())
        {
            skip++;
            visible = collectionsList.Skip(skip * 4).Take(4).ToList();
        }

        Console.WriteLine(skip);
        
    }

    private bool LeftButtonDisabled()
    {
        return skip == 0;
    }

    private bool RightButtonDisabled()
    {
        return collectionsList.Count() <= (skip + 1) * 4;
    }

    public class User
    {
        public string? Name { get; set; }
        public string? PhotoUrl { get; set; }
    }
    public class Collection
    {
        public int Id { get; set; }
        public string? Name { get; set; }
        public User? User { get; set; }
    }
}