@import "tailwindcss";

@font-face {
    font-family: 'monserrat-b';
    src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'monserrat-m';
    src: url('/fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu-sans-l';
    src: url('/fonts/UbuntuSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


.primary-blue-bg {
    background-color: #2541B2
}

.dark-blue-bg {
    background-color: #03256C
}

.red-bg {
    background-color: #B22544;
}

.green-bg {
    background-color: #25B281;
}
